
@{
    ViewData["Title"] = "Resume";
}

<article>
    <h1 class="t_nav">
        <span>你愿与我一路同行，我将为你背负行囊！</span>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="n1">网站首页</a>
        <a asp-area="" asp-controller="Resume" asp-action="Index" class="n2">关于我</a>
    </h1>
    <div class="ab_box">
        <div class="leftbox">
            <div class="newsview">
                <div class="news_infos">
                    <p>
                        王鹏，男，一个热衷于钻研技术的Geek！一直喜欢钻研各种技术，相信科技能够让我们改变世界，帮助我们创建更美好的生活。<br />
                        从16年开始，正式的学习编程，十分注重学校的专业课学习。拥有比较扎实的面向对象编程基础，良好的编程风格;熟悉Asp.Net模式的WEB开发;
                        熟悉IIS、Apache服务器等，熟悉基于Linux及Windows环境下的软件开发。使用过VS的TFS进行团队开发，使用过Git 来管理开发的项目。并且熟悉Python、Java基本语法，接触过微信小程序开发。因为专业课知识掌握牢固，综合成绩专业前5%。<br />
                        <br/>
                        0、熟悉B/S应用架构,能独立开发基于ASP.NET MVC的应用。<br />
                        1、熟练使用VS开发工具，有开发上线项目经验，熟练使用C#、ASP.NET、 ADO.NET、LINQ、EF、WebService、AJAX、JSON等开发技术
                        2、掌握MS SQLServer、MySQL数据库相关技术，会使用储存过程。<br />
                        3、熟练使用H5+ css3 +JQuery,以及BootStrap、LayUI等前端框架，各种第三方库的使用。<br />
                        4、使用过腾讯云服务器、七牛云对象储存、邮件发送、短信发送服务，并将开发的网站发布、备案，以及配置FTP，设置域名解析<br />
                        5、熟练使用搜索引擎解决问题，具备钻研精神、自我解决问题的能力。<br />
                        6、熟悉项目开发文档的书写，代码整洁，类、变量命名规范，做事认真负责，希望往全栈方面发展，十分热爱技术（软件、硬件方面）<br />
                    </p>
                    <a href="https://easy-joy-blog-1255440280.cos.ap-shanghai.myqcloud.com/pdf/%E5%90%8E%E7%AB%AF%E5%B7%A5%E7%A8%8B%E5%B8%88_%E5%BA%94%E5%B1%8A%E7%94%9F_%E7%8E%8B%E9%B9%8F_17705455529.pdf" style="color:#FF0000;">如果您想更加了解我，单击下载我的简历>></a>
                    <br />
                    <h2>About my blog</h2>
                    &nbsp;
                    <p>域 名：blog.jy500.cn 创建于2018年12月&nbsp;</p>
                    <br />
                    <p>服务器：腾讯云服务器&nbsp;&nbsp;<a href="https://cloud.tencent.com/" target="_blank"><span style="color:#FF0000;"><strong>前往腾讯云&gt;&gt;</strong></span></a></p>
                    <br />
                    <p>备案号：鲁ICP备18026596号-1</p>
                    <br />
                    <p>语言：Asp.Net Core </p>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="aboutme">
                <h2 class="hometitle">关于我</h2>
                <div class="avatar"> <img src="~/images/head.jpg"> </div>
                <div class="ab_con">
                    <p>网名：AndyWang | 王鹏</p>
                    <p>职业：Programmer、Development Engineer</p>
                    <p>个人微信：xiaoyi668</p>
                    <p>邮箱：andywang2048@gmail.com</p>
                </div>
            </div>
            <div class="weixin">
                <h2 class="hometitle">微信关注</h2>
                <ul>
                    <img src="images/wx.png">
                </ul>
            </div>
        </div>
    </div>
</article>
